@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

h1, h2, h3, h4, h5, p, b, i, span {
  font-family: 'B612', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
  width:100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height:100%;
  width:100%;
}


.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#interface {
  position:absolute;
  top:0px;
  right:0px;
  z-index:9999;
  margin:20px;
}

.searchResult {
  &:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  &:after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover::after {
    opacity: 1;
  }
}
